@font-face {
  font-family: "iconfont"; /* Project id 4757161 */
  src: url('//at.alicdn.com/t/c/font_4757161_b3ieuq41ofl.eot?t=1733664202478'); /* IE9 */
  src: url('//at.alicdn.com/t/c/font_4757161_b3ieuq41ofl.eot?t=1733664202478#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('//at.alicdn.com/t/c/font_4757161_b3ieuq41ofl.woff2?t=1733664202478') format('woff2'),
       url('//at.alicdn.com/t/c/font_4757161_b3ieuq41ofl.woff?t=1733664202478') format('woff'),
       url('//at.alicdn.com/t/c/font_4757161_b3ieuq41ofl.ttf?t=1733664202478') format('truetype'),
       url('//at.alicdn.com/t/c/font_4757161_b3ieuq41ofl.svg?t=1733664202478#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chuizhifanzhuan:before {
  content: "\e71b";
}

.icon-kaobei:before {
  content: "\e797";
}

.icon-chuizhifanzhuan1:before {
  content: "\e601";
}

.icon-right:before {
  content: "\e8e6";
}

.icon-github:before {
  content: "\e673";
}

.icon-Gitee:before {
  content: "\e600";
}

.icon-chexiao:before {
  content: "\eaf0";
}

.icon-wenzi1:before {
  content: "\e632";
}

.icon-cryo:before {
  content: "\e60e";
}

.icon-tupian:before {
  content: "\e63e";
}

.icon-tupian1:before {
  content: "\e63a";
}

.icon-beijing:before {
  content: "\e926";
}

.icon-a-celanicon-015:before {
  content: "\e623";
}

.icon-icon-elements:before {
  content: "\e65c";
}

.icon-yuansu-lengxing:before {
  content: "\e6ed";
}

.icon-wenzi:before {
  content: "\e77f";
}
