:root.light {
  // background-image: linear-gradient(to right,#e0dff4, #ffffff);
  // background-image: linear-gradient(to right, #ffffff, #f9f9f9);
  // background-image: linear-gradient(to right, rgba(236, 179, 189, 0.2), rgba(171, 214, 228, 0.3));
  // background-image: linear-gradient(to right, rgba(171, 214, 228, 0.2), rgba(224, 223, 244, 0.3));
  background-image: linear-gradient(to right,rgba(224, 223, 244, 0.3), rgba(171, 214, 228, 0.2));
  color: #000;

  .jy-icon {
    color: #000;
  }

  .sidebar {
    background-color: #f3f3f3;
  }

  .theme-color {
    color: #000;
  }

  .theme-border-left {
    border-left: 1px solid #ccc;
  }

  .theme-border-right {
    border-right: 1px solid #ccc;
  }

  .theme-border-top {
    border-top: 1px solid #ccc;
  }

  .theme-border-bottom {
    border-bottom: 1px solid #ccc;
  }

  .theme-card {
    // background-color: lightblue;
    background-color: rgb(204, 208, 209);
  }
}