:root.light {
  // background-color: #191932;
  // background-color: #fff;
  background-image: linear-gradient(to right,#ffffff, #e0dff4);
  color: #000;

  .jy-icon {
    color: #000;
  }

  .sidebar {
    background-color: #f3f3f3;
  }

  .theme-color {
    color: #000;
  }

  .theme-border-left {
    border-left: 1px solid #ccc;
  }

  .theme-border-right {
    border-right: 1px solid #ccc;
  }

  .theme-border-top {
    border-top: 1px solid #ccc;
  }

  .theme-border-bottom {
    border-bottom: 1px solid #ccc;
  }
}