@font-face {
  font-family: "iconfont"; /* Project id 4757161 */
  src: url('//at.alicdn.com/t/c/font_4757161_qlaojaceyt.eot?t=1732422533540'); /* IE9 */
  src: url('//at.alicdn.com/t/c/font_4757161_qlaojaceyt.eot?t=1732422533540#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('//at.alicdn.com/t/c/font_4757161_qlaojaceyt.woff2?t=1732422533540') format('woff2'),
       url('//at.alicdn.com/t/c/font_4757161_qlaojaceyt.woff?t=1732422533540') format('woff'),
       url('//at.alicdn.com/t/c/font_4757161_qlaojaceyt.ttf?t=1732422533540') format('truetype'),
       url('//at.alicdn.com/t/c/font_4757161_qlaojaceyt.svg?t=1732422533540#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wenzi1:before {
  content: "\e632";
}

.icon-cryo:before {
  content: "\e60e";
}

.icon-tupian:before {
  content: "\e63e";
}

.icon-tupian1:before {
  content: "\e63a";
}

.icon-beijing:before {
  content: "\e926";
}

.icon-a-celanicon-015:before {
  content: "\e623";
}

.icon-icon-elements:before {
  content: "\e65c";
}

.icon-yuansu-lengxing:before {
  content: "\e6ed";
}

.icon-wenzi:before {
  content: "\e77f";
}
