:root {
  background-color: #242424;
}
body {
  margin: 0;
  padding: 0;
  color: #fff;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #747bff;
}

@media (prefers-color-scheme: light) {
  /* :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  } */
}
